.text-grad {
  text-decoration: none;

  -webkit-text-fill-color: transparent;
  background: rgb(2, 198, 240);
  background: linear-gradient(
    47deg,
    rgba(2, 198, 240, 1) 1%,
    rgba(255, 176, 0, 1) 50%,
    rgba(228, 0, 248, 1) 100%
  );
  background-clip: text;
  background-size: 400%;
  background-position: -100%;
  background-repeat: repeat;
  animation: grad-text-animation-rev 6s infinite linear alternate-reverse;

  cursor: pointer;
}
/* .text-grad:hover {
    animation: grad-text-animation 0.3s ease forwards;
  } */

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
/* @keyframes grad-text-animation {
    0% {
      background-size: 100%;
      background-position: 0 0;
    }
    40% {
      background-size: 200%;
      background-position: 4em 1em;
    }
    100% {
      background-size: 400%;
      background-position: 1em 1em;
    }
  } */

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes grad-text-animation-rev {
  to {
    background-position: 0%;
  }
  from {
    background-position: 100%;
  }
}
/* .test {
    font-size: 8vw;
  } */
.border-grad {
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(
      47deg,
      rgba(2, 198, 240, 1) 1%,
      rgba(255, 176, 0, 1) 50%,
      rgba(228, 0, 248, 1) 100%
    )
    1;
}
